<p id="notice"><%= notice %></p>

<p>
  <strong>Topico:</strong>
  <%= @sala_bate_papo.topico %>
</p>

<div>
  <% if @sala_bate_papo.mensagems.any? %>
    <div style='border: 1px solid #000; width: 500px; margin: auto; padding: 10px;' id="messages">
      <%= render partial: 'mensagems/mensagem', collection: @sala_bate_papo.mensagems %>
    </div>
  <% end %>
  
  <div style='width: 500px; margin: auto; margin-top: 10px;'>
    <%= form_for @sala_bate_papo.mensagems.new, remote: true, authencity_token: true do |f| %>
      <%= f.label :conteudo, "Mensagem" %>
      <%= f.hidden_field :sala_bate_papo_id, value: @sala_bate_papo.id %>
      <%= f.text_area :conteudo, style: "width:100%; min-height: 100px; padding: 5px;" %>

      <%= button_tag "Enviar", type: "button", onclick: "sendData(this, event)" %>
      <%= f.submit "Enviar", style: "display:none;", id: 'submit_message' %>
    <% end %>
    
  </div>
</div>

<%= link_to 'Edit', edit_sala_bate_papo_path(@sala_bate_papo) %> |
<%= link_to 'Back', sala_bate_papos_path %>
